<header>

	<a href="/question/<%=CurrentUser._id%>" id="home" style="position:fixed;left:1200px;">Go back to questions page</a>
	<h1>CATEGORY:  NETWORKS</h1>
	

</header>

<%- include('./questionsLayout.ejs') -%>
